{% extends "base.html" %}
{% block content %}
    <form class="login-form">
        <h2 class="login-form-heading">Kirjaudu sisään</h2>
        
        <label for="username">Kayttäjätunnus</label>
        <input type="text" id="username" class="form-control" required autofocus>
        
        <label for="password-input">Salasana</label>
        <input type="password" id="password-input" class="form-control" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Kirjaudu</button>
        
    </form>
    <p class="center">
        <a href="http://ppnauman.users.cs.helsinki.fi/fishingLog/rekisteroityminen">Rekisteröidy käyttäjäksi</a> 
    </p>
{% endblock %}