{% extends "base.html" %}
{% block content %}

<form class="add-catch-form">
    <h2>Lisää(muokkaa) saalistieto</h2>
    <div class="form-group">
        <label>Päivämäärä</label>
        <input type="date" class="form-control">
    </div>
    <div class="form-group">
        <label>Kellonaika</label>
        <input type="time" class="form-control">
    </div>
    <div class="form-group">
        <label>Kalastaja(t)</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Vesistö</label>
        <input type="text"class="form-control" >
    </div>
    <div class="form-group">
        <label>Paikka</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Kalalaji</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Lukumäärä</label>
        <input type="number" class="form-control">
    </div>
    <div class="form-group">
        <label>Pituus (cm)</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Paino (kg)</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Pyydyksen tyyppi</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Pyydyksen merkki/malli</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Pyydyksen koko</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Veden lämpötila (C)</label>
        <input type="number" class="form-control">
    </div>
    <div class="form-group">
        <label>Ilman lämpötila (C)</label>
        <input type="number" class="form-control">
    </div>
    <div class="form-group">
        <label>Tuulen voimakkuus</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Tuulen suunta</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Tuulen voimakkuus</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Pilvisyys</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label>Huomioita</label>
        <textarea class="form-control" rows="5"></textarea>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Talleta saalistieto</button>
    </div>
</form>

{% endblock %}
