{% extends "base.html" %}
{% block content %}
<h2 class="sub-header">Saalislistaus (<span>Matti Meikäläinen</span>)</h2>
<div>
    <ul class="list-inline">
        <li><button class="btn btn-primary" id="add-catch-button">Lisää saalistieto</button></li>
        <li>
            <span class="input-group">
                <span class="input-group-addon" id="basic-addon1">Suodata saalistietoja</span>
                <input class="form-control" type="text" id="search-catch-field" placeholder="Hakusana">
            </span>
        </li>
    </ul>
</div>
<div class="table-responsive">
    <table class="table table-striped" id="catch-table">
        <thead>
            <tr>
                <th>Päiväys</th>
                <th>Kalastaja</th>
                <th>Vesistö</th>
                <th>Paikka</th>
                <th>Kalalaji</th>
                <th>Lkm</th>
                <th>Pituus</th>
                <th>Paino</th>
                <th>Pyydystyyppi</th>
                <th>Pyydyskoko</th>
                <th>Lisätiedot</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21/07/2015</td>
                <td>Matti Meikäläinen</td>
                <td>Pyhäjärvi</td>
                <td>Nimismiehenlahti</td>
                <td>Hauki</td>
                <td>1</td>
                <td>84cm</td>
                <td>5,600kg</td>
                <td>Vaappu</td>
                <td>15 cm</td>
                <td><button class="btn btn-info btn-sm" type="button">Näytä saalis</button></td>
            </tr>
            <tr>
                <td>05/05/2015</td>
                <td>Kalakaveri Vexi</td>
                <td>Kuolimo</td>
                <td>Rahettavanselkä</td>
                <td>Muikku</td>
                <td>65</td>
                <td>14cm</td>
                <td>-</td>
                <td>Pintaverkko</td>
                <td>16mm</td>
                <td><button class="btn btn-info btn-sm" type="button">Näytä saalis</button></td>
            </tr>
            <tr>
                <td>05/08/2012</td>
                <td>Matti Meikäläinen</td>
                <td>Poroeno</td>
                <td>Kekkosen kämppä</td>
                <td>Harjus</td>
                <td>1</td>
                <td>43cm</td>
                <td>0,820kg</td>
                <td>Perho</td>
                <td>nro16</td>
                <td><button class="btn btn-info btn-sm" type="button">Näytä saalis</button></td>
            </tr>
        </tbody>
    </table>
</div>    
{% endblock %}
