{% extends "base.html" %}
{% block content %}
    <form class="register-form">
        <h2 class="register-form-heading">Rekisteröidy käyttäjäksi</h2>
        
        <label for="username">Kayttäjätunnus</label>
        <input type="text" id="username" class="form-control" required autofocus>
        
        <label for="firstname">Etunimi</label>
        <input type="text" id="firstname" class="form-control" required>
        
        <label for="surename">Sukunimi</label>
        <input type="text" id="surename" class="form-control" required>
        
        <label for="password-define">Salasana</label>
        <input type="password" id="password-define" class="form-control" required>
        
        <label for="password-confirm">Salasana uudelleen</label>
        <input type="password" id="password-confirm" class="form-control" required>
        
        <label for="email">Sähköposti</label>
        <input type="email" id="email" class="form-control" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Rekisteröidy</button>  
    </form>
{% endblock %}