{% extends "base.html" %}
{% block content %}
    <div id="catch-top-button-section">
        <ul class="list-inline">
            <li><a class="btn btn-danger" role="button" href="#">Poista saalistieto</a></li>
            <li><a class="btn btn-primary" role="button" href="#">Muokkaa saalistietoa</a></li>
        </ul>
    </div>
    <div id="catch-data-section">
        <h2>Hauki 5,6kg / 84cm</h2>
        <h3>Pyhäjärvi, Nimismiehenlahti</h3>
        <ul>
            <li>Pyyntipäivä: 21/07/2015
            <li>Kellonaika: 21.05
            <li>Pyydystäjät: Matti Meikäläinen
            <li>Mukana: Matilda Majavalahti
            <li>Pyydystyyppi: Vaappu
            <li>Pyydysmerkki/-koko: Nils Master Invincible 15cm
            <li>Veden lämpötila: 19 C
            <li>Tuulen suunta: lounas
            <li>Tuulen voimakkuus: heikko    
        </ul>
        <p>Kaislikon edusta Nimismiehenlahden länsirannalla. Tästähän näitä on tullut joskus ennenkin. Hieno kala, josta laitoimme Matildan kanssa maistuvan kalakeiton.</p>
    </div>  
    <div id="catch-image-section">
        <img class="img-responsive img-rounded" src=http://www.kalastus.com/keskustelu/messages/15/214172.jpg alt="HauenKuva">
    </div>
{% endblock %}