{% extends "base.html" %}
{% block content %}
    <h2 class="sub-header">Saalislistaus (<span>Matti Meikäläinen</span>)</h2>
    <div>
        <ul class="list-inline">
            <li><a href="{{base_path}}/newCatch" class="btn btn-primary" id="add-catch-button">Lisää saalistieto</a></li>
            <li>
                <span class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Suodata saalistietoja</span>
                    <input class="form-control" type="text" id="search-catch-field" placeholder="Hakusana">
                </span>
            </li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="catch-table">
            <thead>
                <tr>
                    <th>Päiväys</th>
                    <th>Kalastaja</th>
                    <th>Vesistö</th>
                    <th>Paikka</th>
                    <th>Kalalaji</th>
                    <th>Lkm</th>
                    <th>Pituus</th>
                    <th>Paino</th>
                    <th>Pyydystyyppi</th>
                    <th>Lisätiedot</th>
                </tr>
            </thead>
            <tbody>
                {% for catch in catches %}
                    <tr>
                        <td>{{catch.date}}</td>
                        <td>{{catch.first_name}} {{catch.sure_name}}</td>
                        <td>{{catch.water_sys}}</td>
                        <td>{{catch.location}}</td>
                        <td>{{catch.species}}</td>
                        <td>{{catch.count}}</td>
                        <td>{{catch.length}}</td>
                        <td>{{catch.weight}}</td>
                        <td>{{catch.trap_type}}</td>
                        <td><a href="{{base_path}}/catchList/{{catch.catch_id}}" class="btn btn-info btn-sm" type="button" target="_blank">Näytä saalis</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}
