{% extends "base.html" %}
{% block content %}
{% if(message) %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endif %}
    <div id="catch-top-button-section">
        <ul class="list-inline">
            <li>
                <form method="post" action="{{base_path}}/catch/{{catch.catch_id}}/destroy">
                    <button class="btn btn-danger" type="submit">Poista saalistieto</button>
                </form>
            <li>
                <form method="get" action="{{base_path}}/catchUpdate/{{catch.catch_id}}">
                    <button class="btn btn-info" type="submit">Muokkaa saalistietoa</button>
                </form>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-6">
        <h2>{{catch.species}} {{catch.weight}}kg / {{catch.length}}cm</h2>
        <h3>{{catch.water_sys}}, {{catch.location}}</h3>
        <ul>
            <li>Pyyntipäivä: {{catch.date}}
            <li>Kellonaika: {{catch.time}}
            <li>Pyydystäjä: {{catch.first_name}} {{catch.sure_name}}
            <li>Pyydystyyppi: {{catch.trap_type}}
            <li>Pyydysmalli/-koko: {{catch.trap_model}} {{catch.trap_size}}
            <li>Pyydyksen väri: {{catch.trap_color}}
            <li>Veden lämpötila: {{catch.water_temp}} C
            <li>Ilman lämpötila: {{catch.air_temp}} C
            <li>Tuulen suunta: {{catch.wind_dir}}
            <li>Tuulen voimakkuus: {{catch.wind_speed}}    
        </ul>
        </div>
        <div class="col-sm-6">
             <img class="img-responsive img-rounded" src="{{catch.picture_url}}" alt="Saaliskuva puuttuu">
        </div>
    </div>
    <div class="row">
        <p>{{catch.notes}}</p>
    </div>
{% endblock %}