{% extends "base.html" %}
{% block content %}
{% if(message) %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endif %}
    <div id="catch-top-button-section">
        <ul class="list-inline">
            <li><a class="btn btn-danger" role="button" href="#">Poista saalistieto</a></li>
            <li><a class="btn btn-primary" role="button" href="#">Muokkaa saalistietoa</a></li>
        </ul>
    </div>
    <div id="catch-data-section">
        <h2>{{catch.species}} {{catch.weight}}kg / {{catch.length}}cm</h2>
        <h3>{{catch.water_sys}}, {{catch.location}}</h3>
        <ul>
            <li>Pyyntipäivä: {{catch.date}}
            <li>Kellonaika: {{catch.time}}
            <li>Pyydystäjät: {{catch.first_name}} {{catch.sure_name}}
            <li>Pyydystyyppi: {{catch.trap_type}}
            <li>Pyydysmerkki/-koko: {{catch.trap_model}} {{catch.trap_size}}
            <li>Veden lämpötila: {{catch.water_temp}} C
            <li>Tuulen suunta: {{catch.wind_dir}}
            <li>Tuulen voimakkuus: {{catch.wind_speed}}    
        </ul>
        <p>{{catch.notes}}</p>
    </div>  
    <div id="catch-image-section">
        <img class="img-responsive img-rounded" src="{{catch.picture_url}}" alt="Saaliskuva">
    </div>
{% endblock %}