{% extends "base.html" %}
{% block content %}
           
    <form class="add-catch-form" method="post" {% block action %} action="{{base_path}}/newCatch" {% endblock %}>       
        <section>
           <h1 class="main-header">{% block title %}Uusi saalistieto{% endblock %}</h1>
        </section>

        {% if(errors) %}
            <section>
                <div class="errors"> 
                    <div class="alert alert-danger">
                        <ul>                            
                            {% for error in errors %}
                                <li>{{error}}
                            {% endfor %}                           
                        </ul>      
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="fieldset">
            <h3>Aika ja paikka</h3>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label>Päivämäärä*</label>
                    <input type="date" class="form-control" name="date" value="{{attributes.date}}">  
                </div>   
                <div class="col-sm-9 form-group">
                    <label>Vesistö</label>
                    <input type="text" class="form-control" name="water_sys" maxlength="32" value="{{attributes.water_sys}}">
                </div>  
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label>Kellonaika</label>
                    <input type="time" class="form-control" name="time" value="{{attributes.time}}">              
                </div>
                <div class="col-sm-9 form-group">  
                    <label>Paikka</label>
                    <input type="text" class="form-control" name="location" maxlength="64" value="{{attributes.location}}">
                </div>
            </div>        

            <div class="row">
                <div class="col-sm-12 form-group">               
                    <label>Saaliin muut kalastajat</label></br>
                        {% for name in friend_of %}    
                            {% block checkbox %}
                                <input type="checkbox" name="friends[]" value="{{name}}"
                                    {% if name in attributes.friends %} checked{% endif %}/>{{name}}</br>  
                            {% endblock %}
                        {% endfor %}
                </div>
            </div>
        </section>

        <section class="fieldset">
            <h3>Saaliskala</h3>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label>Kalalaji*</label>
                    <input type="text" class="form-control" name="species" maxlength="32" value="{{attributes.species}}">
                </div>
                <div class="col-sm-2 form-group">
                    <label>Lukumäärä*</label>
                    <input type="number" class="form-control" name="count" value="{{attributes.count}}">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Saaliskuvan URL -osoite</label>
                    <input type="url" class="form-control" name="picture_url" maxlength="300" value="{{attributes.picture_url}}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label>Saaliin pituus (cm)</label>
                    <input type="text" class="form-control" name="length" value="{{attributes.length}}"> 
                </div>
                <div class="col-sm-3 form-group">
                    <label>Saaliin paino (kg)</label>
                    <input type="text" class="form-control" name="weight" value="{{attributes.weight}}">
                </div>
                <!--empty space filler column-->
                <div class="col-sm-6"></div>
            </div>
        </section>

        <section class="fieldset">
            <h3>Säätila</h3>

            <div class="row">
                <div class="col-sm-3 form-group">
                    <label>Veden lämpötila (C)</label>
                    <input type="text" class="form-control" name="water_temp" value="{{attributes.water_temp}}">
                </div>

                <div class="col-sm-3 form-group">
                    <label>Ilman lämpötila (C)</label>
                    <input type="text" class="form-control" name="air_temp" value="{{attributes.air_temp}}">
                </div>

                <div class="col-sm-3 form-group">
                    <label>Tuulen voimakkuus</label>
                    <select name="wind_speed" class="form-control">
                        <option {% if attributes.wind_speed =="tyyni (< 1 m/s)" %} selected {% endif %}>tyyni (< 1 m/s)</option>
                        <option {% if attributes.wind_speed =="heikko (1-3 m/s)" %} selected {% endif %}>heikko (1-3 m/s)</option>
                        <option {% if attributes.wind_speed =="kohtalainen (4-7 m/s)" %} selected {% endif %}>kohtalainen (4-7 m/s)</option>
                        <option {% if attributes.wind_speed =="navakka (8-13 m/s)" %} selected {% endif %}>navakka (8-13 m/s)</option>
                        <option {% if attributes.wind_speed =="kova (14-20 m/s)" %} selected {% endif %}>kova (14-20 m/s)</option>
                        <option {% if attributes.wind_speed =="myrsky (> 20 m/s)" %} selected {% endif %}>myrsky (> 20 m/s)</option>
                    </select>
                </div>

                <div class="col-sm-3 form-group">
                    <label>Tuulen suunta</label>
                    <select name="wind_dir" class="form-control">
                        <option {% if attributes.wind_dir =="etelä(S)" %} selected {% endif %}>etelä(S)</option>
                        <option {% if attributes.wind_dir =="lounas(SW)" %} selected {% endif %}>lounas(SW)</option>
                        <option {% if attributes.wind_dir =="länsi(W)" %} selected {% endif %}>länsi(W)</option>
                        <option {% if attributes.wind_dir =="luode(NW)" %} selected {% endif %}>luode(NW)</option>
                        <option {% if attributes.wind_dir =="pohjoinen(N)" %} selected {% endif %}>pohjoinen(N)</option>
                        <option {% if attributes.wind_dir =="koillinen(NE)" %} selected {% endif %}>koillinen(NE)</option>
                        <option {% if attributes.wind_dir =="itä(E)" %} selected {% endif %}>itä(E)</option>
                        <option {% if attributes.wind_dir =="kaakko(SE)" %} selected {% endif %}>kaakko(SE)</option> 
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Pilvisyys</label>
                    <select name="cloudiness" class="form-control">
                        <option {% if attributes.cloudiness == 'selkeää' %}selected{% endif %}>selkeää</option>
                        <option {% if attributes.cloudiness == 'melko selkeää, poutaa' %}selected{% endif %}>melko selkeää, poutaa</option>
                        <option {% if attributes.cloudiness == 'puolipilvistä, poutaa' %}selected{% endif %}>puolipilvistä, poutaa</option>
                        <option {% if attributes.cloudiness == 'puolipilvistä, sadekuuroja' %}selected{% endif %}>puolipilvistä, sadekuuroja</option>
                        <option {% if attributes.cloudiness == 'melko pilvistä, poutaa' %}selected{% endif %}>melko pilvistä, poutaa</option>
                        <option {% if attributes.cloudiness == 'melko pilvistä, sadetta' %}selected{% endif %}>melko pilvistä, sadetta</option>
                        <option {% if attributes.cloudiness == 'pilvistä, poutaa' %}selected{% endif %}>pilvistä, poutaa</option>
                        <option {% if attributes.cloudiness == 'pilvistä, sadetta' %}selected{% endif %}>pilvistä, sadetta</option>
                    </select>
                </div>
            </div>
        </section>

        <section class="fieldset">
            <h3>Pyydys</h3>

            <div class="row">
                <div class="col-sm-12 form-group" id="traptypeGroup">
                    <label>Pyydyksen tyyppi</label>
                    <select  class="form-control" name="trap_type">
                        <option {% if attributes.trap_type =='default' %}selected{% endif %} value='default'>Valitse pyydyksen tyyppi</option>
                        {% for trap_type in trap_types %}
                            <option {% if attributes.trap_type == trap_type %} selected {% endif %}>{{trap_type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group" id="trapmodelGroup">
                    <label>Pyydysmalli</label>
                    <select class="form-control" name="trap_model">
                        <option value="default" {% if attributes.trap_id=='default' %} selected {% endif %} >Valitse malli/merkki</option>
                        {% for trap in traps %}
                            <option class="trapmodel {{trap.trap_type}}" value='{{trap.trap_id}}' {% if attributes.trap_id == trap.trap_id %}selected{% endif %}>{{trap.trap_model}} {{trap.trap_size}} {{trap.trap_color}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>

        <section class="fieldset">
            <h3> Lisätiedot</h3>

            <div class="row">    
                <div class="col-sm-12 form-group">       
                    <textarea class="form-control" rows="5" maxlength="300" name="notes">{{attributes.notes}}</textarea>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Talleta saalistieto</button>
                </div>
            </div>
        </section>
    </form>
    
{% endblock %}

{% block scripts %}
    <script src='{{base_path}}/assets/js/catch/updateCatch.js'></script>
{% endblock %}
