{% extends "base.html" %}
{% block content %}
{% if(error) %}
    <div class="alert alert-warning">
         {{error}}
    </div>
{% endif %}
{% if(msg) %}
    <div class="alert alert-info">
         {{msg}}
    </div>
{% endif %}

<form class="login-form" method="post" action="{{base_path}}/login">
        <h2 class="login-form-heading">Kirjaudu sisään</h2>
        
        <label for="username">Kayttäjätunnus</label>
        <input type="text" name="username" class="form-control" required autofocus>
        
        <label for="password">Salasana</label>
        <input type="password" name="password" class="form-control" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Kirjaudu</button>
        
    </form>
    <p class="center">
        <a href="{{base_path}}/registration">Rekisteröidy käyttäjäksi</a> 
    </p>
{% endblock %}