{% extends "base.html" %}
{% block content %}
{% block form_init %}
    <form class="register-form" method="post" action="{{base_path}}/registration">
{% endblock %}
        <h2 class="register-form-heading">Rekisteröidy käyttäjäksi</h2>
        {% if errors %}
                <div class="errors"> 
                        <div class="alert alert-danger">
                            <ul>                            
                                {% for error in errors %}
                                    <li>{{error}}
                                {% endfor %}                           
                            </ul>      
                        </div>
                </div>
        {% endif %}
        
        <div class="form-group">
        <label>Kayttäjätunnus</label>
        <input type="text" name="username" class="form-control" {% block username %}autofocus{% endblock %} required value='{{attributes.username}}'>
        </div>
        
        <div class="form-group">
        <label>Etunimi</label>
        <input type="text" name="first_name" class="form-control" required value='{{attributes.first_name}}'>
        </div>
        
        <div class="form-group">
        <label>Sukunimi</label>
        <input type="text" name="sure_name" class="form-control" required value="{{attributes.sure_name}}">
        </div>
        
        <div class="form-group">
        <label>Salasana</label>
        <input type="password" name="password" class="form-control" required value="{{attributes.password}}">
        </div>
        
        <div class="form-group">
        <label>Salasanan varmistus</label>
        <input type="password" name="password_confirm" class="form-control" required>
        </div>
        
        <div class="form-group">
        <label>Sähköposti</label>
        <input type="email" name="email" class="form-control" required value="{{attributes.email}}">
        </div>
        
        <div class="form-group">
        <label>Kalakaverit</label>
        <select multiple class="form-control" name="friends[]">
            {% for username in users %}
                <option {% if username in attributes.friends %} selected {% endif %}>{{username}}</option>
            {% endfor %}
        </select>
        </div>
        
        <div class="form-group">
        {% block submit_button %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Rekisteröidy</button>  
        {% endblock %}
        </div>
    </form>

{% endblock %}